Django==1.4.3
Fabric==1.5.1
South==0.7.6
argparse==1.2.1
boto==2.6.0
dj-database-url==0.2.1
django-bootstrap-toolkit==2.6.23
django-email-as-username==1.6.3
django-storages==1.1.5
paramiko==1.9.0
psycopg2==2.4.6
pycrypto==2.6
pyjade==1.8
wsgiref==0.1.2
