{% extends 'dasar.jade' %}

{% block navbar %}
.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.brand(href="/") Rendefu
			form.navbar-form.pull-right(method='POST', action='')
				{% csrf_token %}
				{{ form.email }}
				{{ form.password }}
				input.btn(type="submit") Masuk
{% endblock %}