{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		a(href="/"+ organisasi.kode + "/") 
			i.icon-home
			|  Depan
		span.divider /
	li {{ kolega.nama }}
{% endblock %}

{% block body %} 
h2 {{ kolega.nama }}

form.form(action="", method="post")
	{% csrf_token %}
	{{ form|as_bootstrap }}
	.form-actions
		button.btn.btn-primary(type="submit") Tambah catatan
h4 Daftar Catatan

{% if not kontak %}
em
	p Catatan interaksi {{ organisasi.nama }} dengan {{ kolega.nama }} akan muncul di sini.
{% endif %}

{% for k in kontak %}

{{ k.waktu }} - {{ k.user.get_profile.nama }} :
br
{{ k.kontak }}
p
br
{% endfor %}

{% endblock %}


{% block kanan %}
.well
	h4 Data

	| Telepon:
	br
	p {{ kolega.telepon }}
	| Email:
	br
	p {{ kolega.email }}
	| Alamat:
	br
	p {{ kolega.alamat }}

	a(href="ubah") 
		i.icon-chevron-right
		| Ubah data

	br

.well
	h4 Aktivitas

	{% if not aktivitas_g %}

	| Tidak ada aktivitas

	{% else %}

	| {{ aktivitas_g.count }} aktivitas, {{ aktivitas_hidup_g.count }} belum selesai

	{% endif %}
	br
	a(href="aktivitas_aktif") 
		i.icon-chevron-right
		| Lihat 
	a(href="aktivitas_tambah") 
		i.icon-chevron-right
		| Buat
	br
	
{% endblock %}