{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		a(href="/"+ organisasi.kode + "/") Depan
		span.divider /
	li {{ kolega.nama }}
{% endblock %}

{% block body %} 
h2 {{ kolega.nama }}

form.form(action="", method="post")
	{% csrf_token %}
	{{ form|as_bootstrap }}
	.form-actions
		button.btn.btn-primary(type="submit") Tambah kontak
h4 Daftar Kontak

{% for k in kontak %}

{{ k.waktu }} - {{ k.user.get_profile.nama }} :
br
{{ k.kontak }}
p
{% endfor %}

{% endblock %}


{% block kanan %}
.well
	h4 Data

	| Telepon:
	br
	p {{ kolega.telepon }}
	| Email:
	br
	p {{ kolega.email }}
	| Alamat:
	br
	p {{ kolega.alamat }}

	a(href="ubah") 
		| Ubah data
		i.icon-chevron-right

{% endblock %}