{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		a(href="/"+ organisasi.kode + "/") 
			i.icon-home
			|  Depan
		span.divider /
	li {{ kolega.nama }}
{% endblock %}

{% block body %} 
h2 {{ kolega.nama }}

form.form(action="", method="post")
	{% csrf_token %}
	{{ form|as_bootstrap }}
	.form-actions
		button.btn.btn-primary(type="submit") Tambah catatan
h4 Daftar Catatan

{% if not kontak %}
em
	p Catatan interaksi {{ organisasi.nama }} dengan {{ kolega.nama }} akan muncul di sini.
{% endif %}

{% for k in kontak %}

{{ k.waktu }} - {{ k.user.get_profile.nama }} :
{% if k.aktivitas %}
br
| Aktivitas: {{ k.aktivitas.nama }}
{% endif %}
br
{{ k.kontak }}
p
br
{% endfor %}

{% endblock %}


{% block kanan %}
.well
	h4 Data

	| Telepon:
	br
	p {{ kolega.telepon }}
	| Email:
	br
	p {{ kolega.email }}
	| Alamat:
	br
	p {{ kolega.alamat|linebreaksbr }}

	a(href="ubah") 
		i.icon-chevron-right
		| Ubah data

	br

.well
	h4 Aktivitas

	{% if not aktivitas_g %}
	em	
		| Tidak ada aktivitas

	{% else %}
	em
		| {{ aktivitas_g.count }} aktivitas, {{ aktivitas_hidup_g.count }} berlangsung
	br
	{% for aktivitas in aktivitas_hidup_g %}
	a(href="aktivitas/" + str(aktivitas.pk) +"/") 
		| {{ aktivitas.nama }}
	{% endfor %}
	br
	a(href="aktivitas/") 
		i.icon-chevron-right
		| Daftar aktivitas
	{% endif %}
	
	br
	br
	form.form(action="aktivitas/tambah/", method="post")
		{% csrf_token %}
		{{ form_aktivitas|as_bootstrap }}
		button.btn.btn-primary(type="submit") Buat aktivitas
{% endblock %}