{% extends 'dasar.jade' %}
{% load bootstrap_toolkit %}


{% block body %}
h3 {{ kolega.nama }}: Tambah Kontak

form.form(action="", method="post")
	{% csrf_token %}
	{{ form|as_bootstrap }}
	.form-actions
		button.btn.btn-primary(type="submit") Tambah



{% endblock %}