{% extends 'dasar.jade' %}
{% load bootstrap_toolkit %}


{% block navbar %}
.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.brand(href="/") Rendefu
			.nav-collapse.collapse
				.btn-group.pull-right
					a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
						| {{ user }}
						span.caret
					ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
						li 
							a(tabindex="-1", href="/sistem/keluar/") keluar
{% endblock %}

{% block script %}
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
{% bootstrap_javascript_tag "dropdown" %}

{% endblock %}
