{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		| Depan
		span.divider /

{% endblock %}

{% block body %} 
.well
	h2 {{ organisasi.nama }}

.well
	h3 Kolega Baru

	form.form(action="", method="post")
		{% csrf_token %}
		{{ form|as_bootstrap }}
		.form-actions
			button.btn.btn-primary(type="submit") Tambah

.well
	h3 Kontak Minggu Ini

{% endblock %}

{% block kanan %}
.well
	h4 Kolega Terbaru

	{% for k in kolega %}

	a(href= "kolega/"+ k.kode ){{ k.nama }}
	p
	{% endfor %}

	a.strong(href= "kolega/") Daftar Kolega >>

{% endblock %}
