{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		i.icon-home
		|  Depan


{% endblock %}

{% block body %} 

h2 {{ organisasi.nama }}
| Kotak surat: 
em
	{{ organisasi.kode }}@rendefu.mailgun.org
hr


h4 Kolega Baru

form.form-vertical(action="", method="post")
	{% csrf_token %}

	{{ form|as_bootstrap:"horizontal" }}
	button.btn.btn-primary(type="submit") Tambah kolega

.well
	h3 Catatan Minggu Ini

	{% if not kontak_g %}
	em
		p Catatan interaksi {{ organisasi.nama }} dengan kolega dalam tujuh hari terakhir akan muncul di sini
	{% endif %}


	{% for kontak in kontak_g %}
	a(href = "/" + organisasi.kode + "/kolega/" + kontak.kolega.kode )
		{{ kontak.kolega }}
	br
	{{ kontak.waktu }} - {{ kontak.user.get_profile.nama }} :
	br
	{{ kontak.kontak|linebreaksbr }}
	hr
	{% endfor %}
{% endblock %}

{% block kanan %}
.well
	h4 Terakhir Dilihat

	{% if not kolega %}
	em
		p Kolega yang anda tambahkan akan muncul di sini
	{% endif %}

	{% for k in kolega %}

	a(href= "kolega/"+ k.kode ){{ k.nama }}
	p

	{% endfor %}

	a.strong(href= "kolega/") 
		i.icon-chevron-right
		| Daftar Kolega
		

{% endblock %}
