{% extends 'masuk.jade' %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
ul.breadcrumb
	li
		i.icon-home
		|  Depan


{% endblock %}

{% block body %} 

h2 {{ organisasi.nama }}


h4 Kolega Baru

form.form-vertical(action="", method="post")
	{% csrf_token %}

	{{ form|as_bootstrap:"horizontal" }}
	button.btn.btn-primary(type="submit") Tambah kolega

.well
	h3 Catatan Minggu Ini
	{% for kontak in kontak_g %}
	{{ kontak.kolega }}
	br
	{{ kontak.waktu }} - {{ kontak.user.get_profile.nama }} :
	br
	{{ kontak.kontak }}
	p
	br
	{% endfor %}
{% endblock %}

{% block kanan %}
.well
	h4 Kolega Terbaru

	{% for k in kolega %}

	a(href= "kolega/"+ k.kode ){{ k.nama }}
	p
	{% endfor %}

	a.strong(href= "kolega/") 
		| Daftar Kolega
		i.icon-chevron-right

{% endblock %}
